@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  color: white;
  font-family: "Poppins", sans-serif;
}

:root {
  --color: red;
  --body-width: 1400px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

section {
  width: 100vw !important;
  max-width: 1200px;
  margin: auto;
}

section#kezdolap {
  display: grid;
  place-items: center;
  height: 100vh;
  max-width: 100vw;
  position: relative;
}

#kezdolap::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100vh;
  background: url("assets/img/bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

#kezdolap::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 0px;
  max-width: 900px !important;
}

.box {
  padding: 25px;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.szoveg {
  display: block;
  max-width: 500px;
  text-align: center;
  font-weight: 1000;
  font-size: 1rem;
  text-wrap: wrap;
}

/* IMAGE SCROLLING */
.stock-ticker {
  font-size: 15px;
  padding-block: 5px;
  overflow: visible;
  user-select: none;

  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 30s linear infinite;
}

.stock-ticker ul img {
  height: 250px;
  width: 100%;
  aspect-ratio: 1/1;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

.reverse ul {
  animation: scroll 50s linear infinite alternate-reverse;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

section.slider {
  max-width: 100%;
  overflow: hidden;
}

/* --------------- */

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
