@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color: red;
  --body-width: 1400px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #0a3975;
  font-size: 0.9rem;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out linear;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(131, 190, 241);
  box-shadow: 0 0 0.4rem #5a6473;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  gap: 50px;
  height: 100px !important;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  animation: sticky 0.5s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 35px;
  left: 0;
}

.menu > a {
  background-color: rgba(21, 117, 155, 0.2);
  font-size: 1.1rem;
  padding: 0.7rem 2rem;
  color: black;
  font-weight: 600;
  border-radius: 0.6rem;
  min-width: 160px;
  transition: all 0.2s ease-in-out;
}

.menu > a:hover {
  color: white;
  background-color: rgba(21, 117, 155, 0.4);
}

section {
  background: transparent;
  color: white;
  font-size: 2rem;
  max-width: var(--body-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  height: 100vh;
}

@keyframes sticky {
  0% {
    transform: translateY(-7rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
