@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --color: red;
  --body-width: 1400px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  max-width: 100vw !important;
  background: white;
}

section {
  width: 100vw !important;
  max-width: 1200px;
  margin: auto;
  padding: 15px 0;
}

section#kezdolap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 770px;
  height: 100vh;
  max-width: 100vw;
  position: relative;
}

#kezdolap::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100vh;
  background: url("assets/img/bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

#kezdolap::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0px;
  gap: 45px;
  max-width: 1200px !important;
}

.kartyak {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: -80px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.kartya {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 25px;
  color: black;
  border-radius: 2px;
}

.kartya > h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
}

.kartya > p {
  font-size: 15px;
}

.kartyak img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.kartya > button,
.gomb {
  background-color: #0f3d78;
  padding: 5px 25px;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.kartya > button:hover,
.gomb:hover {
  transform: scale(1.05);
  color: #0f3d78;
  background-color: white;
}

.box {
  padding: 25px;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.szoveg > * {
  display: block;
  max-width: 500px;
  text-align: left;
  font-weight: 700;
  font-size: 1.4rem;
  color: white !important;
  line-height: 25px;
}

/* IMAGE SCROLLING */
section.slider {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.stock-ticker {
  font-size: 15px;
  padding-block: 10px;
  overflow: visible;
  user-select: none;

  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  animation: scroll 60s linear infinite;
  z-index: 2;
}

.stock-ticker ul img {
  height: 250px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  z-index: 2;
}

.stock-ticker ul img:hover {
  transform: scale(1.1);
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}

.reverse ul {
  animation: scroll 50s linear infinite alternate-reverse;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* --------------- */

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .kartyak {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -80px;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

footer {
  width: 100vw !important;
  max-width: 1200px;
  margin: auto;
  padding: 15px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
